body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.print-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.colors {
  width: 100px;
  height: 100px;
  border-radius: 90px / 80px;
  margin-right: 20px
}

.preto {
  background-color: #000000
}

.roxo {
  background-color: #800080
}

.vermelho {
  background-color: #FF0000
}

.azul {
  background-color: #0000FF
}

.amarelo {
  background-color: #ffd900fa
}